<html lang="en">
  <head>
    <meta charset="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommiterX</title>
  </head>

  <body>
    <h1>CommiterX!</h1>

    {{ if .IsAuthenticated }}
    <p>you are logged in! welcome good sir!</p>
    {{else}}

    <p>you are not logged in! log in now!</p>

    <form method="post">
      <input name="password" type="password" />

      <button type="submit">submit!</button>
    </form>
    {{end}}
  </body>
</html>
